
h1 {
color: #12ABFF;
border-bottom: 2px solid green;
margin: 20px;
padding: 60px 20px 60px 20px;
# background-color: yellow;
font-family: arial;
# font-weight: light;
font-style: italic;
font-size: 2em;
text-align: center;
}

a:link{
	color:green;
}


a:hover{
	color:red;
}

a:visited{
        color:black;
}

p {
	font-size: 1.5em;
	font-family: 'Roboto';
}
