h1{
padding: 30px 30px 5px 30px;
font-family: Times New Roman;
font-type: bold;
font-size: 35px;
}

a{

}

h2{
padding: 0px 0px 0px 30px;
font-size: 22px;
}

p{
padding: 0px 0px 0px 30px;
font-family: Times New Roman;
}

a:link{
        color:blue;
}

a:hover{
        color:black;
}

a:visited{
        color:purple;
}
