
.titular-portada{
    color: white;
    margin-right:25px;
    text-align:right;
    font-family: 'Bebas Neue', cursive;
}

.segundo-titular-portada{
    color: white;
    margin-right:25px;
    text-align:right;
    font-family: 'Bebas Neue', cursive;
}

.row{
    color: black;
    background-color: #dae6e4;
    padding:25px;
}

.row-2{
    color: black;
    background-color: #dae6e4;
    padding: 10px;
    margin-left:30px;
}

.row-3{
    color: black;
    background-color: #dae6e4;
    padding:15px;
}

.parrafo-laboral{
    line-height:80%;
}

.columna{
    color: white;
    background-color: #2b327a;
    padding:5px;
    font-family: 'Merriweather', serif;
    /* margin: 5px; */
}

.contenedor{
    font-family: 'Merriweather', serif;
    background-color: #dae6e4;
    height: 400px;
    width: 1500px;
    margin-left: 0px;
    margin-right: 0px;
}
.caja{
    color: black;
    text-align: left;
    line-height: 20px;
    width: 250px;
    height: 100px;
    margin: 15px;
}

.portada{
    background-color: #3b468c;
    min-height:300px;
}

.imagen-portada{
    width:150px;
    height:150px;
    margin:20px;
    border-radius:50%;
}

.sobre-mi{
    min-height:180px;
    color:white;
    background-color:black;
    text-align:center;
}

.section-title{
    font-size:30;
    text-align:center;
}

.section-text{
    font-size:23;
}
